extends layout

block content
  .container
    h1.text-center Crowdsource
    .container.max600
      .row
        .span10
          h3.text-center Create New Poll
          form(action='/polls', method='POST').form-horizontal.well
            h5 Title
            input(type='text' name='poll[title]', placeholder='What is your question?').form-control
            hr
            h5 Expiry
            input(type='text' name='poll[openTime]', placeholder='Enter time in minutes for poll to stay open').form-control
            hr
            h5 Options
            #options
              input(type='text' name='poll[responses][]').form-control
              br
              input(type='text' name='poll[responses][]').form-control
              br
            .btn-group
              input#create-poll(type='submit', name='poll-submit' value='Create').btn.btn-success
              input#add-option(type='button', name='add-option' value='Add Option').btn.btn-info

