extends layout

block content
  .container.text-center
    h1= poll.title
    br
    .jumbotron.text-left#choices
      .alert.alert-warning.hidden#error
        span.glyphicon.glyphicon-exclamation-sign
          span.sr-only
      h3 Choices:
      .well
        each val in poll.choices
          input(type='button', name="#{val}-button" value="#{val}").btn.btn-block
          br
      h3 Results:
      .well
        .container.text-center#votes
    br
  .container.text-center#users-connected

